<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Stock dashboard</title>
        <meta name="description" content="Simple yet powerful stock dashboard" />
        <meta name="keywords" content="Stock analysis, technical analysis" />
        <meta name="author" content="Edward Cheng" />
        <meta name="copyright" content="Edward Cheng" />
        <meta name="robots" content="index" />
        <meta name="robots" content="follow" />
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="./static/css/normalize.css" />
        <link rel="stylesheet" href="./static/css/skeleton.css" />
        <link rel="stylesheet" href="./static/css/style.css" />
        <!-- <link rel="stylesheet" href="./css_config/normalize.css" />
        <link rel="stylesheet" href="./css_config/skeleton.css" />
        <link rel="stylesheet" href="./css_config/style.css" /> -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block head %} {% endblock %}
    </head>

    <body>
        <div class="container">
            <div class="topnav" id="myTopnav">
                <a href="/" class="active">Home</a>
                <a href="/mag7" class="active">Magnificent 7</a>
                <a href="/ai" class="active">AI</a>
                <a href="/tech" class="active">Tech</a>
                <a href="/meme" class="active">Meme</a>
                <a href="/watch" class="active">Watchlist</a>
            </div>

            <div style="clear: both">
                &nbsp;

                {% block content%}{% endblock %}

            </div>

        </div>
    </body>

</html>