{% extends "layouts/main.html" %}

{% block head %}
<script src="//cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content%}

<style>
    .plot-container {
        display: flex;
        align-items: center;
        /* This centers the items vertically. Adjust as needed. */
        justify-content: space-between;
        /* This spaces out the flex items. Adjust as needed. */
        margin-bottom: 20px;
        /* Adds some space between each plot-text pair */
    }

    .plotly-plot {
        flex: 3;
        /* Allows the plot to grow and take up space, adjust as needed */
        margin-right: 20px;
        /* Adds some space between the plot and the text */
    }

    .plot-text {
        flex: 1;
        /* Allows the text to grow and take up space, adjust as needed */
        /* Add additional styling for the text here if needed */
    }
</style>

<body>

    <h5>{{greetings}}</h5>
    <h5>come to nono </h5>

    {% for stock, plot in plots.items() %}
    <!-- <div id="plotly-{{ stock }}" style="margin-bottom: 0px;"></div> -->
    <div class="plot-container">
        <div id="plotly-{{ stock }}" class="plotly-plot"></div>
        <div class="plot-text">
            <!-- Replace 'Some text here...' with whatever text you want to display -->
            Some text here... or any dynamic content related to {{ stock }}.
            <br>
            no no lala
        </div>
    </div>


    <script>
        var graph = {{ plot | safe }};
        Plotly.plot('plotly-{{ stock }}', graph, {}); 
    </script>

    {% endfor %}


</body>



{% endblock %}